<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head = null,content = ~{::content})}"
>
  <th:block th:fragment="content">
    <main>
      <div class="wrap min">
        <section class="board head">
          <h3>分类列表</h3>
        </section>
        <section class="board">
          <div class="post-item" th:each="category : ${categories}">
            <h3 class="title">
              <a 
                th:href="@{${category.status.permalink}}"
                th:text="${category.spec.displayName}"></a>
            </h3>
          </div>
        </section>
      </div>
    </main>
  </th:block>
</html>
